// Definitions for HID over I2C
/dts-v1/;
/plugin/;

/{
	compatible = "brcm,bcm2835", "brcm,bcm2836", "brcm,bcm2708", "brcm,bcm2709";

	fragment {
		target = <&i2c_arm>;
		__overlay__ {
			status = "okay";
		};
	};
	
	fragment {
		target = <&gpio>;
		__overlay__ {
			i2c_hid_pins: i2c_hid_pins {
				brcm,pins = <23>;
				brcm,function = <0>;
			};
		};
	};
	
	fragment {
		target = <&i2c_arm>;
		__overlay__{
			#address-cells = <1>;
			#size-cells = <0>;

			i2c_hid: i2c-hid-dev@40 {
				compatible = "hid-over-i2c";
				reg = <0x40>;
				hid-descr-addr = <0x0001>;
				interrupt-parent = <&gpio>;
				interrupts = <23 0x8>;
				
				status = "okay";
			};
			
		};
	};
	
	__overrides__ {
		gpiopin = <&i2c_hid_pins>, "brcm,pins:0",
					<&i2c_hid>, "interrupts:0";
		addr = <&i2c_hid>, "reg:0";
		};
		
};